main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

main > * {
  margin: 1rem 0;
}

.button {
  display: flex;
  justify-content: stretch;
  border-radius: 0.5rem;
  padding: 0.25rem;
}
.button > * {
  margin: 0.5rem;
}